[package]
name = "rdp"
version = "0.6.0"
authors = ["Stephan Hügel <urschrei@gmail.com>"]
description = "A Rust implementation of the Ramer–Douglas–Peucker and Visvalingam-Whyatt algorithms"
readme = "README.md"
keywords = ["geo", "Ramer", "Douglas-Peucker", "Visvalingam-Whyatt"]
repository = "https://github.com/urschrei/rdp"
license = "MIT"
edition = "2018"
# we only need to run this if the public API changes
build = "src/build.rs"

[dependencies]
libc = "0.2.46"
geo = "0.12.0"
geo-types = "0.4.2"
num-traits = "0.2.6"

[dev-dependencies]
criterion = "0.2"

[build-dependencies]
cbindgen = "0.6.8"

[lib]
name = "rdp"
crate-type = ["cdylib"]
test = true
doctest = false
doc = true

[profile.release]
lto = true
codegen-units = 1

[[bench]]
name = "benches"
harness = false
